In [3]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in range (0,10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [6]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for num in range (10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [10]:
for num in range (3,10):
    print (num)

3
4
5
6
7
8
9

In [11]:
for num in range (0,11,2):
    print (num)

0
2
4
6
8
10

In [12]:
#enumerate

In [14]:
index_count = 0
for letter in 'abcde':
    print ('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
word = 'abcde'
for item in enumerate (word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [17]:
word = 'abcde'
for index, letter in enumerate (word):
    print (index)
    print (letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [20]:
type (item)

tuple

In [21]:
#zip function

In [25]:
mylist1=['a','b','c']
mylist2=[1,2,3]
for item in zip (mylist1,mylist2):
    print (item)

('a', 1)
('b', 2)
('c', 3)

In [30]:
mylist1=['a','b','c']
mylist2=[1,2,3]
for item in zip (mylist1,mylist2):
    print (1)
    print (2)

1
2
1
2
1
2

In [33]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3=[11,22,33]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

('a', 1, 11)
('b', 2, 22)
('c', 3, 33)

In [34]:
#in keyword

In [35]:
'x'in [1,2,3]

False

In [37]:
'x'in ['x','y','z']

True

In [38]:
'a' in 'wondetrls'

False

In [42]:
'mikey'in {'mikey':1}

True

In [45]:
d = {'mykey':345}

In [46]:
345 in d. values()

True

In [47]:
345 in d.keys()

False

In [48]:
345 in d. items()

False

In [49]:
# min,max

In [50]:
mylist = [10,20,30,40,50,60]
min (mylist)

10

In [51]:
max (mylist)

60

In [52]:
#random library

In [55]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,]
shuffle (mylist)
rd1 = mylist

In [56]:
rd1

[8, 2, 3, 6, 5, 1, 4, 7]

In [57]:
from random import randint
randint (0,10)

0

In [58]:
randint (0,100)

12

In [59]:
randint (0,50)

14

In [62]:
my_num = randint (0,50)

In [63]:
my_num

33

In [64]:
#input()

In [65]:
input ('enter a number here')

enter a number here'22'

"'22'"

In [67]:
input ('what is your favourite color?')

what is your favourite color?22

'22'

In [68]:
int (input('enter your favourite no'))

enter your favourite no22

22

In [69]:
result = int (input ('enter your favourite no '))

enter your favourite no 22

In [70]:
result

22

In [71]:
type (result)

int

In [72]:
number = float (input('enter 1st number'))
number_two = float ( input('enter second number'))
result = number + number_two
print (result)

enter 1st number44
enter second number11.0
55.0

In [73]:
#list comprehensions in python

In [75]:
mystring = 'hello'
mylist = []
for letter in mystring :
    mylist.append(letter)

In [76]:
mylist

['h', 'e', 'l', 'l', 'o']

In [79]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [80]:
mylist

['h', 'e', 'l', 'l', 'o']

In [81]:
word = 'hello'
mylist = [x for x in word]

In [82]:
mylist

['h', 'e', 'l', 'l', 'o']

In [83]:
mylists = [x for x in 'april and may']

In [84]:
mylists

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [85]:
mynum= [num**2 for num in range (0,11)]

In [86]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
myeven = [x for x in range (0,11)if x%2==0]

In [88]:
myeven

[0, 2, 4, 6, 8, 10]

In [89]:
celcius = [0,10,20,30,50,34.5]
fahrenhit = [((9/5)* temp)+32for temp in celcius]

In [90]:
fahrenhit

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [93]:
celcius = [ 0,10,20,30,40,50,34.5]
fahrenhit = []
for temp in celcius :
    fahrenhit. append ((9/5)*temp+32)
print (fahrenhit)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 94.1]

In [94]:
fahrenhit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 94.1]

In [95]:
[x if x%2 == 0 else 'odd' for x in range (0,10)]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [96]:
result = [x if x%2 ==0 else 'odd'for x in range (0,10)]

In [97]:
result

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [98]:
#nested loop

In [99]:
mylist = []
for x in [2,4,6]:
    for y in [6,7,8,]:
        mylist.append (x*y)

In [100]:
mylist

[12, 14, 16, 24, 28, 32, 36, 42, 48]

In [102]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist . append (x*y)

In [103]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [105]:
mynest = [x*y for x in [2,4,6,]for y in [1,10,100]]

In [106]:
mynest

[2, 20, 200, 4, 40, 400, 6, 60, 600]